@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bold: #fff;
    --background: #ededeb;
    --white: #1f1f1f;
    --accent: #e3e4e6;
    --accent1: #f8f8f8;
    --accent-2: #b2b2b2;
    --accent-medium: #4d4d4d;
    --railing-color: #f8f8f8;
    --color-accent-1: #d1e4c7;
    --color-accent-orange: #e2d999;
    --color-accent-purple: #debaec;
    --boldcolor: #446904;
    --boldcolor-2: #446904;
    --boldcolor-orange: #be7a06;
    --boldcolor-purple: #be0677;
}

.white {
    color: var(--white);
}

.hidden {
    display: none;
}

hr {
    outline: none;
    border: none;
    background-color: var(--accent);
    height: 0.2px;
}

a {
    text-decoration: none;
    color: unset;
}

.sectiontitle {
    color: var(--accent-medium);
    text-transform: uppercase;
    margin-top: 20px;
}

.section {
   
    background-color: var(--background);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

#map {
    height: 100vh;
    width: 100%;
}

.custom-marker {
        width: 30px;
        height: 30px;
        background-image: url('DEIN_ICON_PFAD.png'); /* Pfad zu deinem Icon */
        background-size: cover;
        cursor: pointer;
    }

.green {
    color: var(--boldcolor);
}


@keyframes blendin {
    0% {
        display: none;
    }

    65% {
        display: none;
    }

    79% {
        display: none;
    }

    80% {
        filter: blur(10px);
        -webkit-filter: blur(10px);
        font-size: 0px;
    }

    100% {
       
    }
    
}

body {
    margin: 0px;
    font-family: "Roboto", serif;
    background-color: var(--bold);
    color: var(--white);
    -webkit-tap-highlight-color: transparent !important;
}

.selector:active, .selector:hover {
    background-color: unset;
  }


::selection {
    background-color: var(--boldcolor);  /* Hintergrundfarbe des markierten Textes */
    color: #000000;  /* Textfarbe des markierten Textes */
  }


.left {
    text-align: left !important;
}


@keyframes fadeLoading {
    0% { background-color: var(--accent-2); }
    50% { background-color: var(--accent1); }
    100% { background-color: var(--accent-2); }
}

.loading {
    color: #ffffff00;
    border-radius: 40px;
    animation: fadeLoading 1.5s infinite alternate ease-in-out;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  transition: font-variation-settings 0.3s ease;
  user-select: none;
  line-height: normal !important;
}

.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
  }


.nav-rail, .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--railing-color);
    z-index: 10;
    
    
}
.nav-rail {
    left: 0;
    height: 100vh;
    width: 88px;
    padding-top: 10px;
    user-select: none;
    background-color: var(--background);
    z-index: 20000;
}
.nav-bar {
    display: none;
    background: var(--accent);
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 300;
    width: calc(100% - 20px);
}
.nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    padding-top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--accent);
    align-items: center;
    
}
.nav-rail a {
    text-decoration: none;
    color: var(--white);
    text-align: center;
    padding: 15px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px 0;
    width: calc(100% - 70px);
    text-align: left;
    
}


.nav-rail a i, .nav-menu a i {
    display: block;
    font-size: 35px;
}
.nav-rail a span, .nav-menu a span {
    font-size: 12px;
}
.nav-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    border-radius: 100px;
    
}

.nav-menu div {
    background-color: var(--background);
}

.nav-menu span {
    font-size: 20px !important;
}

.nav-menu a:hover {
    background-color: var(--accent-2);
    transition: 500ms;
}


.content {
    text-align: left;
    padding: 10px;
    padding-left: 100px;
    max-width: 1800px;
    animation: flyin 500ms;
}

.smallcontent {
    max-width: 900px;
}

.h1content {
    text-align: left;
    padding: 10px;
    padding-left: 100px;
    max-width: 1800px;
    animation: flyin 500ms;
    padding-top: 30px;
}

.borderlesscontent {
    text-align: left;
    padding: 10px;
    min-height: 100vh;
    animation: flyin 500ms;
}

.floater {
    position: fixed;
    top: 5px;
    right: 5px;
}

.linkcard:hover {
    background-color: var(--railing-color);
    padding: 25px;
    
}

.linkcard {
    transition: 500ms;
    user-select: none;
}

@keyframes flyin {
    from {
        margin-top: 10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}





.activerailingicon, .railingicon, .uiicon {
   color: var(--boldcolor);
    padding: 2px 15px 2px 15px;
    border-radius: 20px;
}

.activerailingicon {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    background-color: var(--boldcolor);
    animation-name: toggle-in;
    animation-duration: 1s;
    color: var(--bold);
    
}

.railingicon:hover, .uiicon:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;

    background-color: var(--color-accent-1);
}

.activerailingicon:hover {
    font-variation-settings: 'FILL' 1, 'wght' 200,;
    background-color: var(--boldcolor);
}

@keyframes toggle-in {
    from {
        background-color: var(--color-accent-1);
    }

    to {
        background-color: var(--boldcolor);
    }
}

/* Container-Styling */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Maximal 3 Spalten auf großen Geräten */
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0px
  }
  

  .container2 {
    grid-template-columns: repeat(2, 1fr); /* Maximal 3 Spalten auf großen Geräten */
  }

  .container1 {
    grid-template-columns: repeat(1, 1fr); /* Maximal 3 Spalten auf großen Geräten */
  }

  .container4 {
    grid-template-columns: repeat(4, 1fr); /* Maximal 3 Spalten auf großen Geräten */
  }

  .container5 {
    grid-template-columns: repeat(5, 1fr); /* Maximal 3 Spalten auf großen Geräten */
  }
  
  /* Item-Styling */
  .item {
    background-color: var(--accent1);
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    
  }

  .buttonicon {
    height: 24px;
  }


  .backgrounddiv {
    background-size: cover;
    
  }

.right {
    text-align: right;
}

.accent {
    color: var(--boldcolor);
}

  #detailOverlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex; align-items: center; justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
}

.transparentoverlay {
    background-color: unset !important;
    backdrop-filter: unset !important;
    -webkit-backdrop-filter: unset !important;
    pointer-events: none;
}

.transparentoverlay #detailContent {
        border-radius: 10px 10px 10px 10px;
        max-width: 350px;
        width: 100%;
        position: fixed;
        top: 10px;
        left: 100px;
        animation: sheetright 200ms;
        max-height: 70%;
        overflow-y: scroll;
        pointer-events: auto;
}

#detailContent {
    background: var(--accent-2); 
    border-radius: 8px;
    max-width: 500px; width: 90%; position: relative;
    animation: flyin 200ms;
    scrollbar-width: none;
    pointer-events: auto;
}

#detailContent::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none !important;
}

 .closehidden {
    animation: flyout 150ms forwards;
}



@keyframes sheetright {
    0% {
        margin-left: -10px;
        opacity: 0;
    }

    99% {
        margin-left: 0px;
        opacity: 1;
    }

    100% {
        margin-left: 0px;
        opacity: 0;
    }
}

@keyframes flyout {
    0% {
        margin-top: 0px;
        opacity: 1;
    }

    99% {
        margin-top: 10px;
        opacity: 0;
    }

    100% {
        margin-top: 10px;
        opacity: 0;
        display: none;
    }
}



.close-btn {
    position: absolute; top: 10px; right: 10px;
    cursor: pointer; font-weight: bold; font-size: 1.2em;
    color: var(--boldcolor);
    padding: 10px;
}



.meal-container {
    display: flex;
    gap: 8px;
    align-items: stretch;
    padding-top: 10px;
    padding-left: max(100px, calc((100vw - 1800px) / 2 + 40px));
    overflow-x: scroll;
    scrollbar-width: none;
}

.meal-container.mappadding {
    padding: 10px;
}

.mappadding .meal:hover {
    background-color: var(--color-accent-1);
}

.mappadding .meal.AUSVERKAUFT:hover {
    background-color: var(--accent);
}

.meal-container::-webkit-scrollbar {
    display: none;
}

.meal {
    cursor: pointer; transition: background 0.2s; 
    max-width: 200px;
    min-width: 200px;
    flex: 1;
    background-color: var(--color-accent-1);
    padding: 10px;
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--accent);
    position: relative;
}

.mensacard {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--accent);
    position: relative;
    text-align: left;
}


.meal:hover { background: var(--color-accent-orange); }

.mensa-header {
    height: 100px;
    font-size: 20px;
    max-width: 562px;
}

.fav-btn {
    background-color: unset;
    border: 1px solid;
    border-color: var(--accent);
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 200px;
    padding: -30px;
    line-height: 10px;
    color: var(--accent-medium);
    
}

.active {
    background-color: var(--boldcolor);
    color: var(--accent);
}


.fav-btn:hover {
    color: var(--boldcolor);
    border-color: var(--boldcolor);
    background-color: unset;
    border-radius: 200px;
    cursor: pointer;
}



.chip {
    background-color: var(--accent);
    color: var(--boldcolor);
    border-radius: 20px;
    text-shadow: none !important;
}

.price {
    font-size: 20px;
    line-height: 15px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;

}

.pricetag {
    background-color: var(--boldcolor);
    max-width: fit-content;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    color: var(--accent);
    font-weight: bold;
}

.AUSVERKAUFT {
    background-color: var(--accent);
}

.AUSVERKAUFT:hover {
    background-color: var(--accent-2);
}

.meal .AUSVERKAUFT {
    background-color: var(--accent-medium);
}

.badgebox {
    max-width: fit-content;
    position: absolute;
    bottom: 10px;
    left: 15px;
    z-index: 20;
    
}

.mealimage {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
    border-radius: 5px;
}

.favbox {
    position: absolute;
    bottom: 7px;
    right: 5px;
    text-align: right;
}

.price small {
    font-size: 10px;
}

.controls {
    position: fixed;
    bottom: 20px;
    z-index: 200;
    width: 100%;
}

.island {
    background-color: var(--boldcolor);
    padding: 10px;
    border-radius: 100px;
    width: fit-content;
    display: flex;
}

.island button {
    background-color: var(--accent1);
    border: none;
}

.island button:hover {
    cursor: pointer;
}

#datePicker {
    background-color: unset;
    border: none;
    color: var(--accent);
    font-size: 20px;
    padding-top: 3px;
    text-align: center;
}

#datePicker:focus {
    outline: none;
}

#datePicker::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#datePicker {
    appearance: none;
    -moz-appearance: textfield;
}

.spinner {
    height: 40px;
    padding: 10px;
    filter: invert(1);
}

.smallprint {
    font-size: 0.8em;
    color: var(--accent-medium)
}

.badge {
    height: 25px;
    border-radius: 2px;
    background-color: var(--accent);
}


.popupimage{
    background-color: #446904;
    color: #f8f8f8;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-shadow: #000000 0px 0px 10px;
    box-shadow: inset #000000 0px 120px 100px;

}

.bigprice, .bigpriceAUSVERKAUFT {
    background-color: var(--boldcolor);
    color: var(--accent);
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    float: right;
    text-shadow: none;
    text-align: right;
    margin-top: -35px;
    margin-right: 10px;
}

.bigpriceAUSVERKAUFT {
    background-color: var(--accent-medium);
    color: var(--accent-2);
}

.bigprice b {
    font-size: 22px;
}

.popupcontent {
    padding: 20px;
}

.listcontainer {
    width: 100%;
}


.listcontainer div:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.listcontainer div:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.listitem {
    background-color: var(--accent-2);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.listitemtext {
    width: calc(100% - 50px);
    text-align: left !important;
}

.disabled, .secondary {
    opacity: 0.4;
}

.switchitemtext {
    flex: 1;
    padding-left: 10px;
}


.listitemswitch {
    width: 100px;
    text-align: right;
    margin: 9px;
}

.listimagecontainer {
    height: 45px;
    width: 45px;
    border-radius: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 7px;
    margin-right: 14px;
}

.listimagecontainer img {
    height: 30px;
    border-radius: 5px;
}

.onoffswitch {
    position: relative;
    display: inline-block;
    width: 60px;
}

label {
    width: 100%;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-family: "Roboto", serif;
    font-size: 17px;
}

.onoffswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .slider {
    background-color: var(--boldcolor);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 13px;
    right: 0;
    bottom: 0;
    background-color: var(--color-accent-1);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 8px;
    bottom: 7px;
    background-color: white;
    transition: .4s;
}

span {
    text-align: left;
}


  @media (max-width: 768px) {

    @supports (-webkit-touch-callout: none) {
        .nav-rail {
            padding-bottom: env(safe-area-inset-bottom);
        }
      }
      

    .nav-rail {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        height: fit-content;
        bottom: 0px;
        top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Verteilt die Links gleichmäßig */
        z-index: 10000;
    }

    .nav-rail a {
       padding: 0px;
       padding-left: 10px;
       padding-right: 10px;
       padding-bottom: 17px;
    }

    .nav-rail a span {
     }

    .content {
        background-color: var(--bold);
        overflow-y: scroll;
        padding-left: 20px;
        padding-right: 20px;
    }

    .h1content {
        padding-left: 20px;
    }

    .content::-webkit-scrollbar {
        display: none; /* Für Chrome, Safari */
      }

      .meal-container {
        padding-left: 22px;
    }

    .island {
        margin-bottom: 80px;
    }


    #detailContent {
        width: 100% !important;
        max-width: unset !important;
        top: unset !important;
        left: unset !important;
        border-radius: 10px 10px 10px 10px;
        max-width: 500px;
        width:100%;
        position: fixed;
        bottom: 70px;
        animation: sheetin 200ms !important;
        max-height: 70%;
        overflow-y: scroll;
    }

    .closehidden #detailContent {
        animation: sheetout 200ms !important;
    }

    @keyframes sheetin {
        from {
            bottom: -50%;
            opacity: 0;
        }

        to {
            bottom: 70px;
            opacity: 1;
        }
    }

    @keyframes sheetout {
        from {
            bottom: 70px;
            opacity: 1;
        }

        to {
            bottom: -50%;
            opacity: 0;
        }
    }
  }